@page "/provinciasvacunadas"

<h3>Provincias</h3>

@if (personas == null)
{
    <p><em>Loading...</em></p>
}
else
{


<MudSelect T="string" Label="Provincias" @bind-Value="ProvinciaSeleccionada">

    @foreach (var provincia in provincias)
    {
        <MudSelectItem Value="@provincia.Id.ToString()"> @provincia.NombreProvincia </MudSelectItem>

    }

</MudSelect>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@FiltrarProvincia">Buscar</MudButton>

    <MudTable Items="@PersonasProvincias" Hover="@true" Striped="@true" Filter="new Func<Persona, bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Personas Vacunadas </MudText>
            <MudToolBarSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Cedula</MudTh>
            <MudTh>Nombres </MudTh>
            <MudTh>Apellidos</MudTh>
            <MudTh>Telefono</MudTh>
            <MudTh>Fecha de nacimiento</MudTh>
            <MudTh>Provincia</MudTh>
            <MudTh>Primera Dosis</MudTh>
            <MudTh>Segunda Dosis</MudTh>
            <MudTh>Vacuna </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Cedula">@context.Cedula</MudTd>
            <MudTd DataLabel="Nombres">@context.Nombres</MudTd>
            <MudTd DataLabel="Apellidos">@context.Apellido1 @context.Apellido2</MudTd>
            <MudTd DataLabel="Telefono">@context.Telefono</MudTd>
            <MudTd DataLabel="Fecha de nacimiento">@context.FechaNacimiento</MudTd>
            <MudTd DataLabel="Provincia">@context.Direccion.Provincia.NombreProvincia</MudTd>
            <MudTd DataLabel="Primera Dosis">@context.FechaDosis1</MudTd>
            <MudTd DataLabel="Segunda  Dosis">@context.FechaDosis2</MudTd>
            <MudTd DataLabel="Vacuna">@context.Vacuna.Nombre</MudTd>

        </RowTemplate>

    </MudTable>
}
@code {

    public string ProvinciaSeleccionada { get; set; }

    private List<Persona> PersonasProvincias = new List<Persona>();

    private List<Provincia> provincias = new List<Provincia>();

    private HashSet<Persona> selectedItems = new HashSet<Persona>();

    private List<Persona> personas = new List<Persona>();

    private Persona selectedItem = null;

    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        personas = await Http.GetFromJsonAsync<List<Persona>>("api/personas");
        provincias = await Http.GetFromJsonAsync<List<Provincia>>("api/provincias");

    }

    void FiltrarProvincia()
    {
        if (!String.IsNullOrEmpty(ProvinciaSeleccionada))
        {
            PersonasProvincias = personas.Where(persona => persona.Direccion.Provincia.Id == int.Parse(ProvinciaSeleccionada)).ToList();
        }

    }



    private bool FilterFunc(Persona persona)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (persona.Nombres.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.Apellido1.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.Apellido2.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.Telefono.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.FechaNacimiento.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.Direccion.Provincia.NombreProvincia.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.FechaDosis1.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.FechaDosis2.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (persona.Vacuna.Nombre.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{persona.Nombres} {persona.Apellido1} {persona.Apellido2} {persona.Telefono} {persona.FechaNacimiento.ToString()} {persona.Direccion.Provincia.NombreProvincia} {persona.FechaDosis1.ToString()} {persona.FechaDosis2.ToString()} {persona.Vacuna.Nombre}".Contains(searchString))
            return true;
        return false;
    }
}
